
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style-type: none;
        }
        :root{
            --color1: orange;
            --color2: blue;
            --color3: dodgerblue;
            --container: 200px;
            
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,800;0,900;1,200&display=swap');

        /*  NAVBAR START */
        .mynav {
            padding: 20px var(--container);
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .mynav .logo {
            width: 50px;
        }

        .mynav .nav-list {
            
            display: flex;
        }

        .mynav .nav-link {
            padding: 0px 20px;
            
            
        }
        .mynav .nav-link a{
            font-size: 20px;
            color: #222;
            display: inline-flex;
            position: relative;
            
        }
        .mynav .nav-link a:hover{
            color: var(--color2);
        }
        

        .mynav .nav-link a::before{
            content: "";
            width: 0;
            height: 3px;
            background-color: var(--color2);
            border-radius: 5px;
            position: absolute;
            bottom: -5px;
            transition: all .4s;
            
        }
        .mynav .nav-link:hover a::before{
            
            width: 100%;
        }
        
        /* MAIN START */
        /* MAIN END */
        

       

        /* NAVBAR END */

        /* MAIN START */
        .content1{
            min-height: 90vh;
            padding: 0px var(--container);
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
        
        .content1 .subtitle{
            color: var(--color3);
            font-weight: 600;
            font-size: 1.25rem;
        }
        .content1 .title{
            margin: 20px 0px;
            font-size: 4rem;
            font-weight: 600;
            line-height: 1;

        }
        .content1 .button-list{
            margin: 50px  10px;
            display: flex;
            
            
        }
        .content1 .btn{
            padding: 10px 30px;
            color: white;
            font-size: 1.25rem;
            background-color: var(--color3);
            border-radius: 10px 10px 10px 10px;
            
        }
        .content1 .btn:hover{
            background-color: crimson;
            box-shadow: 0px 0px 8px 2px rgb(85, 20, 33);
            
        }


        .content1 .mydiv{
            margin:-180px -90px ;
            min-height: 90vh;
            padding: 0px var(--container);
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            
            
        }
        .content1 .mydiv img{
            border-radius: 500px 400px 250px 500px;
            width: 500px;
            
        }
        
           
        

        /* MAIN END */
        /* FOOTER START */
        .container2{
            padding: 20px var(--container);
           
        }
       
      
        /* FOOTER END */